# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
*.env
*.pdf
*.json

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Packaging
build/
dist/
*.egg-info/

# Test and coverage outputs
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.pytest_cache/
nosetests.xml

# Jupyter Notebooks (if used later)
.ipynb_checkpoints/

# PDF output (optional – comment out if you want to keep them in git)
output/*.pdf
VE3_Rob_Pye_Value_Exchange_1_May_25_to_25_August_25.pdf
Paul_Sparkes_Value_Exchange_for_period_01012025_to_01092025.pdf
Deborah_A_Value_Exchange_for_period_09012025_to_09042025.pdf
